<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projetos P.I</title>
    <link rel="stylesheet" type="text/css" href="tema/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    
    <style>
      body{
        font-family: 'Roboto';font-size: 18px;
      }
      .secao-destaque{
        background-color: rgb(0, 153, 255);
       
      }
      .lista-busca{
        background-color: whitesmoke;
        
      }
      .lista{
      background: url(imgs/sun.jpg);
       }
     
    </style>
</head>
<body>
  <!--Inicio do code-->
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">Mano Pipas</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#textoNavbar" aria-controls="textoNavbar" aria-expanded="false" aria-label="Alterna navegação">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="textoNavbar">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Inicio<span class="sr-only">(Página atual)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Minha Conta</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Carrinho</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contato</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Pesquisar" aria-label="Pesquisar">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Pesquisar</button>
        </form>
      </div>
    </nav>
  </header>
      <div class="secao-destaque p-5 w-100 text-white">
        <div class="container-fluid">
            <header class="row pt-5 pb-5">
              <div class="col-12 text-center">
                <img class="w-75" src="imgs/manopipas.png">    
               </div>
            </header>            
        </div>
      </div>
      
     <div class="pt-1">
      <div class="card">
        <div class="card-body">
          <h2 class="text-dark text-center">Conheça nossos produtos.</h2>
        </div>
      </div>
     </div>

      <section class="lista p-1 mb-1 bg-light text-dark">
        <div class="container-fluid col-12">
          <div class="row ">
            <div class="col-2">
              <section class="lista-busca">
                <div class="container border border-dark">
                  <div class="row pt-2 pb-2">
                      <ul class="nav flex-column">
                        <li class="nav-item">
                          <a class="nav-link active text-dark" href="#">Pipas</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link text-dark " href="#">Linhas</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link text-dark" href="#">Manivelas</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link text-dark" href="#">Carretilhas</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link text-dark" href="#">Papeis de Ceda</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link text-dark" href="#">Rabiolas</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link text-dark" href="#">Fibras e Bambus</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link text-dark" href="#">Acessórios</a>
                        </li>
                      </ul>
                    
                  </div> 
                  
                </div>
            </section>
            </div>

            <div class="col-3 pb-5">
              <div class="col">
                <div class="card" style="width: 18rem;">
                  <img class="card-img-top" src="imgs/chilena.jpg" alt="Imagem de capa do card">
                  <div class="card-body">
                    <h5 class="card-title">Título do card</h5>
                    <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer preencher o conteúdo do card.</p>
                    <a href="#" class="btn btn-success">Comprar</a>
                  </div>
              </div>
              </div>
              <div class="col pt-2 pb-2">
                <div class="card" style="width: 18rem;">
                  <img class="card-img-top" src="imgs/chilena.jpg" alt="Imagem de capa do card">
                  <div class="card-body">
                    <h5 class="card-title">Título do card</h5>
                    <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer preencher o conteúdo do card.</p>
                    <a href="#" class="btn btn-success">Comprar</a>
                  </div>
              </div>
              </div>
                           
            </div>
            <div class="col-3">
              <div class="col">
                <div class="card" style="width: 18rem;">
                  <img class="card-img-top" src="assets/img/chilena.jpg" alt="Imagem de capa do card">
                  <div class="card-body">
                    <h5 class="card-title">Título do card</h5>
                    <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer preencher o conteúdo do card.</p>
                    <a href="#" class="btn btn-success">Comprar</a>
                  </div>
              </div>
              </div>
              <div class="col pt-2 pb-2">
                <div class="card" style="width: 18rem;">
                  <img class="card-img-top" src="assets/img/chilena.jpg" alt="Imagem de capa do card">
                  <div class="card-body">
                    <h5 class="card-title">Título do card</h5>
                    <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer preencher o conteúdo do card.</p>
                    <a href="#" class="btn btn-success">Comprar</a>
                  </div>
              </div>
              </div>

              <div class="pt-3 pb-3">
                <nav aria-label="Navegação de página exemplo">
                  <ul class="pagination">
                    <li class="page-item"><a class="page-link" href="#">Anterior</a></li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">4</a></li>
                    <li class="page-item"><a class="page-link" href="#">5</a></li>
                    <li class="page-item"><a class="page-link" href="#">Próximo</a></li>
                  </ul>
                </nav>
              </div>
                           
            </div>
            <div class="col-3">
              <div class="col">
                <div class="card" style="width: 18rem;">
                  <img class="card-img-top" src="assets/img/chilena.jpg" alt="Imagem de capa do card">
                  <div class="card-body">
                    <h5 class="card-title">Título do card</h5>
                    <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer preencher o conteúdo do card.</p>
                    <a href="#" class="btn btn-success">Comprar</a>
                  </div>
              </div>
              </div>
              <div class="col pt-2 pb-2">
                <div class="card" style="width: 18rem;">
                  <img class="card-img-top" src="assets/img/chilena.jpg" alt="Imagem de capa do card">
                  <div class="card-body">
                    <h5 class="card-title">Título do card</h5>
                    <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer preencher o conteúdo do card.</p>
                    <a href="#" class="btn btn-success">Comprar</a>
                  </div>
              </div>
              </div>
                           
            </div>
            
          </div>
        </div>
      </section>

    <!-- Footer -->
<footer class="page-footer font-small mdb-color pt-4">

  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <!-- Footer links -->
    <div class="row text-center text-md-left mt-3 pb-3">

      <!-- Grid column -->
      <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">Mano Pipas</h6>
        <p>Loja Virtual de Pipas em Manaus, fundada por João Elias e Derlane Oliveira.</p>
      </div>
      <!-- Grid column -->

      <hr class="w-100 clearfix d-md-none">

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">Products</h6>
        <p>
          <a href="#!">MDBootstrap</a>
        </p>
        <p>
          <a href="#!">MDWordPress</a>
        </p>
        <p>
          <a href="#!">BrandFlow</a>
        </p>
        <p>
          <a href="#!">Bootstrap Angular</a>
        </p>
      </div>
      <!-- Grid column -->

      <hr class="w-100 clearfix d-md-none">

      <!-- Grid column -->
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">Redes Sociais</h6>
        <p>
          <a href="#!">Facebook</a>
        </p>
        <p>
          <a href="#!">Instagram</a>
        </p>
        <p>
          <a href="#!">Whatsapp</a>
        </p>
        <p>
          <a href="#!">Youtube</a>
        </p>
      </div>

      <!-- Grid column -->
      <hr class="w-100 clearfix d-md-none">

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 col-xl-4 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">Contatos</h6>
        <p>
          <i class="fas fa-home mr-3"></i> Rua 157 17-A, Santo Antônio, Manaus-AM</p>
        <p>
          <i class="fas fa-envelope mr-3"></i> manotecnico.am@gmail.com</p>
        <p>
          <i class="fas fa-phone mr-3"></i> + 55 (92) 99322-2947</p>
        <p>
          <i class="fas fa-print mr-3"></i> + 55 (92) 3645-2957</p>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Footer links -->

    <hr>

    <!-- Grid row -->
    <div class="row d-flex align-items-center">

      <!-- Grid column -->
      <div class="col-md-7 col-lg-8">

        <!--Copyright-->
        <p class="text-center text-md-left">© 2020 Copyright:
          <a href="#">
            <strong> ManoTecnico.com.br</strong>
          </a>
        </p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-5 col-lg-4 ml-lg-0">

        <!-- Social buttons -->
        <div class="text-center text-md-right">
          <ul class="list-unstyled list-inline">
            <li class="list-inline-item">
              <a class="btn-floating btn-sm rgba-white-slight mx-1">
                <i class="fab fa-facebook-f"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a class="btn-floating btn-sm rgba-white-slight mx-1">
                <i class="fab fa-twitter"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a class="btn-floating btn-sm rgba-white-slight mx-1">
                <i class="fab fa-google-plus-g"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a class="btn-floating btn-sm rgba-white-slight mx-1">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </li>
          </ul>
        </div>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

</footer>
<!-- Footer -->
    

    <script src="assets/js/bootstrap.min.js"></script>
</body>
</html>