
<!-- Este e o arquivo identado de podutos.tpl-->

<div class="tab-content">
    <div id="home" class="container tab-pane active"><br>
        <h3>PIPAS E PAPAGAIOS</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <section class="p-1 mb-1 bg-light text-dark">
            <div class="container-fluid">
                <div class="row">         
                    <div class="col-3 pb-5">
                        
                        <div class="col">
                            <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="{$GET_TEMA}/imgs/chilena.jpg" alt="Imagem de capa do card">
                                <div class="card-body">
                                <h5 class="card-title">Título do card</h5>
                                <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer preencher o conteúdo do card.</p>
                                <a href="#" class="btn btn-success">Comprar</a>
                                </div>
                            </div>
                        </div>
                        <div class="col pt-2 pb-2">
                            <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="{$GET_TEMA}/imgs/chilena.jpg" alt="Imagem de capa do card">
                                <div class="card-body">
                                <h5 class="card-title">Título do card</h5>
                                <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer preencher o conteúdo do card.</p>
                                <a href="#" class="btn btn-success">Comprar</a>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <!--
                    <div class="col-3">
                        <div class="col">
                            <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="{$GET_TEMA}/imgs/chilena.jpg" alt="Imagem de capa do card">
                                <div class="card-body">
                                    <h5 class="card-title">Título do card</h5>
                                    <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer preencher o conteúdo do card.</p>
                                    <a href="#" class="btn btn-success">Comprar</a>
                                </div>
                            </div>
                        </div>
                        <div class="col pt-2 pb-2">
                            <div class="card" style="width: 18rem;">
                                <img class="card-img-top" src="{$GET_TEMA}/imgs/chilena.jpg" alt="Imagem de capa do card">
                                <div class="card-body">
                                    <h5 class="card-title">Título do card</h5>
                                    <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer preencher o conteúdo do card.</p>
                                    <a href="#" class="btn btn-success">Comprar</a>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <div class="col-3">
                        <div class="col">
                            <div class="card" style="width: 18rem;">
                                <img class="card-img-top" src="{$GET_TEMA}/imgs/chilena.jpg" alt="Imagem de capa do card">
                                <div class="card-body">
                                    <h5 class="card-title">Título do card</h5>
                                    <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer preencher o conteúdo do card.</p>
                                    <a href="#" class="btn btn-success">Comprar</a>
                                </div>
                            </div>
                        </div>
                        <div class="col pt-2 pb-2">
                            <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="{$GET_TEMA}/imgs/chilena.jpg" alt="Imagem de capa do card">
                                <div class="card-body">
                                    <h5 class="card-title">Título do card</h5>
                                    <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer preencher o conteúdo do card.</p>
                                    <a href="#" class="btn btn-success">Comprar</a>
                                </div>
                            </div>
                        </div>                           
                    </div>            
                    -->
                </div>
            </div>
        </section>
    </div>
</div>